[Unit]
Description=Teleinfo
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=true
Type=notify
ExecStart=/home/pi/teleinfopy/teleinfopy.py
WatchdogSec=120
Restart=on-failure

[Install]
WantedBy=multi-user.target
